@inject ICurrentUserFactory _currentUser
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>SPA Base Project using VueJs by Anexsoft</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Base project Vue SPA by Anexsoft" />

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href='    https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel="stylesheet">
<link href="bundle/css/app.3e56c813001595c49a3a1150a16cbcf3.css" rel="stylesheet"></head>
<body>
    <div id="app"></div>
    <script>
        window.User = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(_currentUser.Get));
    </script>
<script type="text/javascript" src="bundle/js/manifest.fba1583d154550ce3f65.js"></script><script type="text/javascript" src="bundle/js/vendor.834b543ba7aab4ecfefd.js"></script><script type="text/javascript" src="bundle/js/app.03bb0b0a1dc9e9134351.js"></script></body>
</html>